/*Imports Fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

.btn-telegram{
	background-color: #2196F3;
	color: #fff;
	border: 1px #fff;
}
.btn-telegram:hover{
	background-color: #42A5F5;
	color: #fff;
	border: 1px #fff;
}.icon-telegram{
	font-size: 20px;
}
.background{
	margin-top: 0px;
	background-color: #455A64;
	color: white;
}
.text-p{
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	margin-top: 15px;
	color: #fff;
}
.navbar-footer {

	border-radius: 0px !important;
	margin-bottom: 0px;
	margin-top: 30px;
	border: none;
}
